Repository Obscurely/falion, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, repo, resources, source, docs, fuzzer, scripts, tests

.github/labeler.yml:

---
assets:
  - any: ["assets/**"]
repo:
  - "*"
resources:
  - any: ["resources/**"]
source:
  - any: ["src/**"]
docs:
  - any: ["docs/**"]
fuzzer:
  - any: ["fuzz/**"]
scripts:
  - any: ["scripts/**"]
tests:
  - any: ["tests/**"]

fix release action for windows
  .github/workflows/release.yml
Labels: none

fix release action for windows (#21)
  .github/workflows/release.yml
Labels: none

add SLINT_NO_QT and SLIT_STYLE globally to the project
  .cargo/config.toml
  flake.nix
Labels: repo

update changelog
  CHANGELOG.md
Labels: repo

try add windows startup shortcut in installer
  resources/windows/main.wxs
Labels: resources

fix homebrew
  resources/macos/falion.rb
Labels: resources

try creating installer shortcuts again
  CHANGELOG.md
  resources/windows/main.wxs
Labels: repo, resources

remove startmenu subfolder in windows installer
  resources/windows/main.wxs
Labels: resources

update changelog
  CHANGELOG.md
Labels: repo

fix appimage and consequently the nix file
  resources/linux/falion.AppDir/AppRun
Labels: resources

update changelog
  CHANGELOG.md
Labels: repo

Fix releases (#30)
  .cargo/config.toml
  CHANGELOG.md
  flake.nix
  resources/linux/falion.AppDir/AppRun
  resources/macos/falion.rb
  resources/windows/main.wxs
Labels: repo, resources

remove aur normal and git pkg due to unfixable compiling errors
  .github/workflows/release.yml
  README.md
Labels: repo

remove aur normal and git pkg due to unfixable compiling errors (#31)
  .github/workflows/release.yml
  README.md
Labels: repo

update project description
  Cargo.toml
  README.md
  resources/linux/AUR/bin/PKGBUILD
  resources/windows/main.wxs
Labels: repo, resources

update project description (#32)
  Cargo.toml
  README.md
  resources/linux/AUR/bin/PKGBUILD
  resources/windows/main.wxs
Labels: repo, resources

update rust dependencies
  Cargo.lock
  Cargo.toml
Labels: repo

update nix flake
  flake.lock
Labels: repo

disable treating warnings as errors in CI because of slint
  .github/workflows/ci.yml
Labels: none

add changelog and bump falion version in cargo.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: repo

Update deps (#47)
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  flake.lock
Labels: repo

fix nix file
  resources/linux/falion.nix
Labels: resources

actually fix nix file
  resources/linux/falion.nix
Labels: resources

Update LICENSE
  LICENSE
Labels: repo

Update LICENSE (#56)
  LICENSE
Labels: repo

fix nix file
  resources/linux/falion.nix
Labels: resources

update readme
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Delete file
  .github/FUNDING.yml
Labels: none
